@import "vars";

.subscribe-form {
	width: 100%;
	&-row{
		display: flex;
		align-items: center;
	}

	&-field{
		width: 100%;
		padding-right: 10px;
	}

	.subscribe-form-message {
		position: relative;
		padding: .75rem 1.25rem;
		margin-top: 1rem;
		border: 1px solid transparent;
		border-radius: .25rem;
	}

	.subscribe-form-message-success {
		color: $success_color;
		background-color: $success_bg_color;
		border-color: $success_border_color;
	}

	.subscribe-form-message-error {
		color: $error_color;
		background-color: $error_bg_color;
		border-color: $error_border_color;
	}
}

